@page "/patient/edit/{Id}"
@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@inject LocalStorage Storage

<h1>Edit</h1>
<h3>Patient</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <ValidatedForm Model="@patient" OnSubmit="@UpdatePatient">
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input for="Name" class="form-control" bind="@patient.Name" />
                <ClientValidationError FieldName="Name" Model="patient" />
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label">Gender</label>
                <select asp-for="Gender" class="form-control" bind="@patient.Gender">
                    <option value="">-- Select Gender --</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <ClientValidationError FieldName="Gender" Model="patient" />
            </div>
            <div class="form-group">
                <label asp-for="PrimaryCareProvider" class="control-label">Primary Care Provider</label>
                <input asp-for="PrimaryCareProvider" class="form-control" bind="@patient.PrimaryCareProvider" />
                <ClientValidationError FieldName="PrimaryCareProvider" Model="patient" />
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label">State</label>
                <input asp-for="State" class="form-control" bind="@patient.State" />
                <ClientValidationError FieldName="State" Model="patient" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Save</button>
                <button class="btn btn-primary" onclick="@cancel">Cancel</button>
            </div>
        </ValidatedForm>
    </div>
</div>

@functions {
    [Parameter]
    string Id { get; set; }

    Patient patient = new Patient();

    protected override async Task OnInitAsync()
    {
        if (!(Storage["JWT-Token"] != String.Empty && DateTime.Now.Ticks < Convert.ToInt64(Storage["JWT-Time-Exire"]))) // not logged on
        {
            UriHelper.NavigateTo("/user/login");
        }

        if (UriHelper.GetBaseUri() == "http://localhost:10001/")
        {
            patient = await Http.GetJsonAsync<Patient>("http://localhost:10002/api/patient/" + Convert.ToInt32(Id));
        }
        else
        {
            patient = await Http.GetJsonAsync<Patient>("http://becksapi.azurewebsites.net/api/patient/" + Convert.ToInt32(Id));
        }
    }

    protected async Task UpdatePatient(UIEventArgs ev)
    {
        if (UriHelper.GetBaseUri() == "http://localhost:10001/")
        {
            var token = Storage["JWT-Token"];
            Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
            await Http.SendJsonAsync(HttpMethod.Put, "http://localhost:10002/api/patient/" + Convert.ToInt32(Id), patient);
        }
        else
        {
            var token = Storage["JWT-Token"];
            Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
            await Http.SendJsonAsync(HttpMethod.Put, "http://becksapi.azurewebsites.net/api/patient/" + Convert.ToInt32(Id), patient);
        }
        UriHelper.NavigateTo("/patient/modified");
    }

    void cancel()
    {
        UriHelper.NavigateTo("/patient/cancelled");
    }
}