@page "/patient/list/{Page}"
@page "/patient/{Transaction}"
@addTagHelper *, BlazorStrap
@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@using BlazorCrud.Shared.Data
@inject LocalStorage Storage
@inject Sotsera.Blazor.Toaster.IToaster toaster

@if (Transaction == "modified")
{
    toaster.Success("Patient successfully updated in the system.", "Patient Updated");
}
@if (Transaction == "cancelled")
{
    toaster.Warning("Patient transaction has been cancelled.", "Transaction Cancelled");
}

<h1>Patient Data</h1>

@if (isLoggedOn())
{
    <p>
        <a href="/patient/new">Add New Patient</a>
    </p>
}

@if (Patients == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <BlazorTable IsResponsive="true" class='table'>
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Primary Care Provider</th>
                <th>State</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in Patients.Results)
            {
                <tr>
                    <td>@patient.Id</td>
                    <td>@patient.Name</td>
                    <td>@patient.Gender</td>
                    <td>@patient.PrimaryCareProvider</td>
                    <td>@patient.State</td>
                    <td>
                        <ActionLinkButton Action="view" Route="/patient" RouteValue="@patient.Id.ToString()"></ActionLinkButton>
                        @if (isLoggedOn())
                        {
                            <ActionLinkButton Action="edit" Route="/patient" RouteValue="@patient.Id.ToString()"></ActionLinkButton>
                            <ActionLinkButton Action="delete" Route="/patient" RouteValue="@patient.Id.ToString()"></ActionLinkButton>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </BlazorTable>
    <Pager Result=@Patients PageChanged=@PagerPageChanged />
}

@functions {
[Parameter]
protected string Page { get; set; } = "1";
[Parameter]
protected string Transaction { get; set; }

protected PagedResult<Patient> Patients;

protected override async Task OnParametersSetAsync()
{
    if (UriHelper.GetBaseUri() == "http://localhost:10001/")
    {
        Patients = await Http.GetJsonAsync<PagedResult<Patient>>("http://localhost:10002/api/patient/?page=" + Page);
    }
    else
    {
        Patients = await Http.GetJsonAsync<PagedResult<Patient>>("http://becksapi.azurewebsites.net/api/patient?page=" + Page);
    }
}

protected void PagerPageChanged(int page)
{
    Transaction = string.Empty;
    UriHelper.NavigateTo("/patient/list/" + page);
}

protected bool isLoggedOn()
{
    return (Storage["JWT-Token"] != String.Empty && DateTime.Now.Ticks < Convert.ToInt64(Storage["JWT-Time-Exire"]));
}
}