@page "/"
@page "/logout"
@addTagHelper *, BlazorStrap
@inject LocalStorage Storage

<main role="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <Carousel NumberOfItems="@items.Count" bind-ActiveIndex="@SecondIndex" PauseOnHover="true">
                    <CarouselIndicators NumberOfItems="@items.Count" bind-ActiveIndex="@SecondIndex" />
                    <div class="carousel-inner">
                        @for (int i = 0; i < items.Count; i++)
                        {
                            Item item = items[i];
                            <CarouselItem IsActive="@(SecondIndex == i)" src="@item.Source" alt="@item.Alt">
                                <CarouselCaption Class="carousel-text" CaptionText="@item.Caption" HeaderText="@item.Header" />
                            </CarouselItem>
                        }
                    </div>
                    <CarouselControl CarouselDirection="CarouselDirection.Previous" NumberOfItems="@items.Count" bind-ActiveIndex="@SecondIndex" />
                    <CarouselControl CarouselDirection="CarouselDirection.Next" NumberOfItems="@items.Count" bind-ActiveIndex="@SecondIndex" />
                </Carousel>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>
        <hr>
    </div>
</main>

@functions {
IList<Item> items = new List<Item>
{
new Item {
    Source = @"..\img\patients.jpg",
    Alt ="Patients",
    Header = "Patients",
    Caption = "Locate patients and edit patient data."
},
new Item {
    Source = @"..\img\providers.jpg",
    Alt ="Provider Organizations",
    Header = "Provider Organizations",
    Caption = "Track and manage provider organizations."
},
new Item {
    Source = @"..\img\claims.jpg",
    Alt ="Claims",
    Header = "Claims",
    Caption = "Record and edit claims for services provided."
}
};

private int _secondIndex;
int SecondIndex
{
    get => _secondIndex;
    set { _secondIndex = value; StateHasChanged(); }
}

class Item
{
    public string Source { get; set; }
    public string Alt { get; set; }
    public string Caption { get; set; }
    public string Header { get; set; }
}
}