@page "/upload/view/{Id}"
@inject HttpClient Http
@using BlazorCrud.Shared.Data
@inject LocalStorage Storage
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<h1>View</h1>
<h3>Upload</h3>

<br />
<div class="col-md-4">
    <table class="table">
        <tr>
            <td>Id</td>
            <td>@upload.Id</td>
        </tr>
        <tr>
            <td>Filename</td>
            <td>@upload.FileName</td>
        </tr>
        <tr>
            <td>Uploaded</td>
            <td>@upload.UploadTimestamp</td>
        </tr>
        <tr>
            <td>Processed</td>
            <td>@upload.ProcessedTimestamp</td>
        </tr>
        <tr>
            <td>File</td>
            <td>
                <button onclick="@DownloadFile">Download</button>
            </td>
        </tr>
    </table>
    <div class="form-group">
        <button class="btn btn-primary" onclick="@back">Back</button>
    </div>
</div>

@functions {
    [Parameter]
    string Id { get; set; }

    Upload upload = new Upload();

    protected override async Task OnInitAsync()
    {
        upload = await Http.GetJsonAsync<Upload>(Storage["environment_uri"] + "/upload/" + Convert.ToInt32(Id));
    }

    void DownloadFile()
    {
        JSRuntime.Current.InvokeAsync<object>(
            "saveAsFile",
            upload.FileName,
            upload.FileContent);
    }

    void back()
    {
        UriHelper.NavigateTo("/upload/list/1");
    }
}