@page "/user/list/{Page}"
@page "/user/{Transaction}"
@addTagHelper *, BlazorStrap
@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@using BlazorCrud.Shared.Data
@inject LocalStorage Storage
@inject Sotsera.Blazor.Toaster.IToaster toaster

@if (Transaction == "modified")
{
    toaster.Success("User successfully updated in the system.", "User Updated");
}
@if (Transaction == "cancelled")
{
    toaster.Warning("User transaction has been cancelled.", "Transaction Cancelled");
}

<h1>User Data</h1>

@if (isLoggedOn())
{
    <p>
        <a href="/user/new">Add New User</a>
    </p>
}

@if (Users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <BlazorTable IsResponsive="true" class='table'>
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Users.Results)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Username</td>
                    <td>@user.LastName</td>
                    <td>@user.FirstName</td>
                    <td>@user.Email</td>
                    <td>
                        <ActionLinkButton Action="view" Route="/user" RouteValue="@user.Id.ToString()"></ActionLinkButton>
                        @if (isLoggedOn())
                        {
                            <ActionLinkButton Action="edit" Route="/user" RouteValue="@user.Id.ToString()"></ActionLinkButton>
                            <ActionLinkButton Action="delete" Route="/user" RouteValue="@user.Id.ToString()"></ActionLinkButton>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </BlazorTable>
    <Pager Result=@Users PageChanged=@PagerPageChanged />
}

@functions {
[Parameter]
protected string Page { get; set; } = "1";
[Parameter]
protected string Transaction { get; set; }

protected PagedResult<User> Users;

protected override async Task OnParametersSetAsync()
{
    if (UriHelper.GetBaseUri() == "http://localhost:10001/")
    {
        Users = await Http.GetJsonAsync<PagedResult<User>>("http://localhost:10002/api/user/?page=" + Page);
    }
    else
    {
        Users = await Http.GetJsonAsync<PagedResult<User>>("http://becksapi.azurewebsites.net/api/user?page=" + Page);
    }
}

protected void PagerPageChanged(int page)
{
    Transaction = string.Empty;
    UriHelper.NavigateTo("/user/list/" + page);
}

protected bool isLoggedOn()
{
    return (Storage["JWT-Token"] != String.Empty && DateTime.Now.Ticks < Convert.ToInt64(Storage["JWT-Time-Exire"]));
}
}