@page "/user/view/{Id}"
@inject HttpClient Http
@inject LocalStorage Storage
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper

<h1>View</h1>
<h3>User</h3>

<br />
<div class="col-md-6">
    <BSTable IsResponsive="true" class="table">
        <tr>
            <td>Id</td>
            <td>@user.Id</td>
        </tr>
        <tr>
            <td>Username</td>
            <td>@user.Username</td>
        </tr>
        <tr>
            <td>GLast Name</td>
            <td>@user.LastName</td>
        </tr>
        <tr>
            <td>First Name</td>
            <td>@user.FirstName</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@user.Email</td>
        </tr>
     </BSTable>
    <div class="form-group">
        <button class="btn btn-primary" @onclick="back">Back</button>
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }

    protected User user = new User();

    protected override async Task OnInitializedAsync()
    {
        user = await Http.GetJsonAsync<User>(Storage.GetItem("environment_uri") + "/user/" + Convert.ToInt32(Id));
    }

    void back()
    {
        UriHelper.NavigateTo("/user/list/1");
    }
}
