@page "/user/view/{Id}"
@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<h1>View</h1>
<h3>User</h3>

<br />
<div class="col-md-4">
    <table class="table">
        <tr>
            <td>Id</td>
            <td>@user.Id</td>
        </tr>
        <tr>
            <td>Username</td>
            <td>@user.Username</td>
        </tr>
        <tr>
            <td>GLast Name</td>
            <td>@user.LastName</td>
        </tr>
        <tr>
            <td>First Name</td>
            <td>@user.FirstName</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@user.Email</td>
        </tr>
    </table>
    <div class="form-group">
        <button class="btn btn-primary" onclick="@back">Back</button>
    </div>
</div>

@functions {
[Parameter]
string Id { get; set; }

User user = new User();

protected override async Task OnInitAsync()
{
    if (UriHelper.GetBaseUri() == "http://localhost:10001/")
    {
        user = await Http.GetJsonAsync<User>("http://localhost:10002/api/user/" + Convert.ToInt32(Id));
    }
    else
    {
        user = await Http.GetJsonAsync<User>("http://becksapi.azurewebsites.net/api/user/" + Convert.ToInt32(Id));
    }
}

void back()
{
    UriHelper.NavigateTo("/user/list/1");
}
}