@page "/claim/list/{Page}"
@inject HttpClient Http
@inject LocalStorage Storage
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@inject Sotsera.Blazor.Toaster.IToaster Toaster

@if (Storage.GetItem("Transaction") == "modified")
{
    Toaster.Success("Claim successfully updated in the system.", "Claim Updated");
    Storage.RemoveItem("Transaction");
}

<h1>Claim Data</h1>

<div class="row mb-3">
    <div class="col-md-7">
        @if (isLoggedOn())
        {
        <BSButton Class="btn btn-primary" @onclick="AddClaim">Add New Claim</BSButton>
        }
    </div>
    <div class="input-group col-md-5 text-md-right">
        <input name="ClaimSearchInput" type="text" class="form-control" placeholder="Patient or Organization" @bind="this.SearchTerm" @onkeyup="SearchBoxKeyPress" />
        <div class="input-group-btn">
            <button name="ClaimSearchButton" class="btn btn-default" @onclick="SearchClick">
                <i class="oi oi-magnifying-glass" title="search" aria-hidden="true"></i>
            </button>
        </div>
        <div class="input-group-btn">
            <button name="ClaimSearchClear" class="btn btn-default" @onclick="ClearSearch">
                <i class="oi oi-x" title="clear" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>

@if (Claims == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <BSTable IsResponsive="true" class='table'>
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Patient</th>
                <th>Organization</th>
                <th>Status</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var claim in Claims.Results)
            {
                <tr>
                    <td>@claim.Id</td>
                    <td>@claim.Patient</td>
                    <td>@claim.Organization</td>
                    <td>@claim.Status</td>
                    <td>@claim.Type</td>
                    <td>
                        <BSButton ButtonType="ButtonType.Link" Color="Color.None" Class="oi oi-eye text-primary" @onclick="@(async () => await ViewClaim(claim.Id))"></BSButton>
                        @if (isLoggedOn())
                        {
                            <BSButton ButtonType="ButtonType.Link" Color="Color.None" Class="oi oi-pencil text-warning" @onclick="@(async () => await UpdateClaim(claim.Id))"></BSButton>
                            <BSButton ButtonType="ButtonType.Link" Color="Color.None" Class="oi oi-trash text-danger" @onclick="@(async () => await DeleteClaim(claim.Id))"></BSButton>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </BSTable>
    <Pager Result=@Claims PageChanged=PagerPageChanged />
}

<div>
    <BSModal @bind-IsOpen="@isAdd" Size="Size.Large" IgnoreEscape="true">
        <BSModalHeader @onclick="CloseModal">@modalTitle</BSModalHeader>
        <BSModalBody>
            <div class="col-md-9">
                <EditForm Model="@claim" OnValidSubmit="@CreateClaim">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label for="Patient" class="control-label">Patient</label>
                        <InputText id="Patient" class="form-control" @bind-Value="claim.Patient" />
                        <ValidationMessage For="@(() => claim.Patient)" />
                    </div>
                    <div class="form-group">
                        <label for="Organization" class="control-label">Organization</label>
                        <InputText id="Organization" class="form-control" @bind-Value="claim.Organization" />
                        <ValidationMessage For="@(() => claim.Organization)" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label">Status</label>
                        <InputSelect id="Status" class="form-control" @bind-Value="claim.Status">
                            <option value="">-- Select Status --</option>
                            <option value="Active">Active</option>
                            <option value="Cancelled">Cancelled</option>
                            <option value="Draft">Draft</option>
                            <option value="Entered-in-Error">Entered-in-Error</option>
                        </InputSelect>
                        <ValidationMessage For="@(() => claim.Status)" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Type" class="control-label">Type</label>
                        <InputSelect id="Type" class="form-control" @bind-Value="claim.Type">
                            <option value="">-- Select Type --</option>
                            <option value="Institutional">Institutional</option>
                            <option value="Oral">Oral</option>
                            <option value="Pharmacy">Pharmacy</option>
                            <option value="Professional">Professional</option>
                            <option value="Vision">Vision</option>
                        </InputSelect>
                        <ValidationMessage For="@(() => claim.Type)" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Save</button>
                        <button class="btn btn-primary" @onclick="CloseModal">Cancel</button>
                    </div>
                </EditForm>
            </div>
        </BSModalBody>
    </BSModal>
</div>

<div>
    <BSModal @bind-IsOpen="isView" Size="Size.Large" IgnoreEscape="true">
        <BSModalHeader @onclick="CloseModal">@modalTitle</BSModalHeader>
        <BSModalBody>
            <div class="col-md-9">
                @if (isDelete)
                {
                    <BSAlert Color="Color.Danger">Please review carefully before deleting.</BSAlert>
                }
            <BSTable IsResponsive="true" class="table">
                <tr>
                    <td>Id</td>
                    <td>@claim.Id</td>
                </tr>
                <tr>
                    <td>Patient</td>
                    <td>@claim.Patient</td>
                </tr>
                <tr>
                    <td>Organization</td>
                    <td>@claim.Organization</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>@claim.Status</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>@claim.Type</td>
                </tr>
            </BSTable>
                <div class="form-group">
                    @if (isDelete)
                    {
                        <button type="button" class="btn btn-danger" @onclick="(async () => await RemoveClaim())">Delete</button>
                        <button class="btn btn-primary" @onclick="CloseModal">Cancel</button>
                    }
                    @if (!isDelete)
                    {
                        <button class="btn btn-primary" @onclick="CloseModal">Back</button>
                    }
                </div>
            </div>
        </BSModalBody>
    </BSModal>
</div>

@code {
    [Parameter]
    public string Page { get; set; } = "1";
    [Parameter]
    public string SearchTerm { get; set; } = string.Empty;

    protected PagedResult<Claim> Claims;
    protected Claim claim = new Claim();

    protected int CurrentClaimId { get; set; }
    protected string modalTitle { get; set; }
    protected bool isAdd { get; set; }
    protected bool isView { get; set; }
    protected bool isDelete { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Claims = await Http.GetJsonAsync<PagedResult<Claim>>(Storage["environment_uri"] + "/claim/?name=" + SearchTerm + "&page=" + Page);
    }

    protected bool isLoggedOn()
    {
        return (Storage.GetItem("JWT-Token") != String.Empty && DateTime.Now.Ticks < Convert.ToInt64(Storage.GetItem("JWT-Time-Expire")));
    }

    protected async Task SearchBoxKeyPress(KeyboardEventArgs ev)
    {
        if (ev.Key == "Enter")
        {
            await SearchClick();
        }
    }

    protected async Task SearchClick()
    {
        if (string.IsNullOrEmpty(SearchTerm))
        {
            Claims = await Http.GetJsonAsync<PagedResult<Claim>>(Storage.GetItem("environment_uri") + "/claim/?name=" + SearchTerm + "&page=1");
            return;
        }

        Claims = await Http.GetJsonAsync<PagedResult<Claim>>(Storage.GetItem("environment_uri") + "/claim/?name=" + SearchTerm + "&page=1");
        StateHasChanged();
    }

    protected async Task ClearSearch()
    {
        SearchTerm = string.Empty;
        Claims = await Http.GetJsonAsync<PagedResult<Claim>>(Storage.GetItem("environment_uri") + "/claim/?page=1");
        StateHasChanged();
    }

    protected void PagerPageChanged(int page)
    {
        UriHelper.NavigateTo("/claim/list/" + page);
    }

    protected void AddClaim()
    {
        this.isAdd = true;
        this.modalTitle = "Create Claim";
    }

    protected async Task UpdateClaim(int ClaimId)
    {
        claim = await Http.GetJsonAsync<Claim>(Storage.GetItem("environment_uri") + "/claim/" + Convert.ToInt32(ClaimId));
        CurrentClaimId = ClaimId;
        this.isAdd = true;
        this.modalTitle = "Edit Claim";
    }

    protected async Task ViewClaim(int ClaimId)
    {
        claim = await Http.GetJsonAsync<Claim>(Storage.GetItem("environment_uri") + "/claim/" + Convert.ToInt32(ClaimId));
        CurrentClaimId = ClaimId;
        this.isView = true;
        this.modalTitle = "View Claim";
    }

    protected async Task DeleteClaim(int ClaimId)
    {
        claim = await Http.GetJsonAsync<Claim>(Storage.GetItem("environment_uri") + "/claim/" + Convert.ToInt32(ClaimId));
        CurrentClaimId = ClaimId;
        this.isView = true;
        this.isDelete = true;
        this.modalTitle = "Delete Claim";
    }

    protected async Task CreateClaim()
    {
        var token = Storage["JWT-Token"];
        Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        if (CurrentClaimId == 0)
        {
            await Http.SendJsonAsync(HttpMethod.Post, Storage.GetItem("environment_uri") + "/claim", claim);
        }
        else
        {
            await Http.SendJsonAsync(HttpMethod.Put, Storage.GetItem("environment_uri") + "/claim/" + Convert.ToInt32(CurrentClaimId), claim);
        }
        CloseModal();
        Storage.SetItem("Transaction", "modified");
        await OnParametersSetAsync();
    }

    protected async Task RemoveClaim()
    {
        var token = Storage["JWT-Token"];
        Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        await Http.DeleteAsync(Storage.GetItem("environment_uri") + "/claim/" + Convert.ToInt32(CurrentClaimId));
        CloseModal();
        Storage.SetItem("Transaction", "modified");
        await OnParametersSetAsync();
    }

    protected void CloseModal()
    {
        claim = new Claim();
        CurrentClaimId = 0;
        this.isAdd = false;
        this.isView = false;
        this.isDelete = false;
    }
}
