@page "/claim/typeahead"
@inject HttpClient httpClient
@inject LocalStorage Storage

<h3>Blazored Typeahead - Claims Page Prototype</h3>

<EditForm Model="ClaimsModel" OnValidSubmit="HandleFormSubmit">
    <FluentValidator TValidator="ClaimModelViewValidator" />
    <br />
    <h5>Claim Details</h5>
    <hr />
    <p>
        <div>
            <label class="control-label">Patient</label>
            <BlazoredTypeahead SearchMethod="GetPatients"
                               @bind-Value="ClaimsModel.SelectedPatient"
                               EnableDropDown="true"
                               class="form-control"
                               placeholder="Search by patient name...">
                <SelectedTemplate Context="patient">
                    @patient.Name
                </SelectedTemplate>
                <ResultTemplate Context="patient">
                    @patient.Name (@patient.State)
                </ResultTemplate>
            </BlazoredTypeahead>
            <ValidationMessage For="@(() => ClaimsModel.SelectedPatient)" />
        </div>
    </p>
    <p>
        <div>
            <label class="control-label">Provider</label>
            <BlazoredTypeahead SearchMethod="GetProviders"
                               @bind-Value="ClaimsModel.SelectedOrganization"
                               EnableDropDown="true"
                               class="form-control"
                               placeholder="Search by provider name...">
                <SelectedTemplate Context="organization">
                    @organization.Name
                </SelectedTemplate>
                <ResultTemplate Context="organization">
                    @organization.Name (@organization.Type)
                </ResultTemplate>
            </BlazoredTypeahead>
            <ValidationMessage For="@(() => ClaimsModel.SelectedOrganization)" />
        </div>
    </p>
    <p>
        <div>
            <label class="control-label">Type</label>
            <InputSelect id="Type" class="form-control" @bind-Value="ClaimsModel.Type">
                <option value="">-- Select Type --</option>
                <option value="Institutional">Institutional</option>
                <option value="Oral">Oral</option>
                <option value="Pharmacy">Pharmacy</option>
                <option value="Professional">Professional</option>
                <option value="Vision">Vision</option>
            </InputSelect>
            <ValidationMessage For="@(() => ClaimsModel.Type)" />
        </div>
    </p>
    <p>
        <div>
            <label class="control-label">Status</label>
            <InputSelect id="Status" class="form-control" @bind-Value="ClaimsModel.Status">
                <option value="">-- Select Status --</option>
                <option value="Active">Active</option>
                <option value="Cancelled">Cancelled</option>
                <option value="Draft">Draft</option>
                <option value="Entered-in-Error">Entered-in-Error</option>
            </InputSelect>
            <ValidationMessage For="@(() => ClaimsModel.Status)" />
        </div>
    </p>
    <br />
    <h5>Claim Line Item</h5>
    <hr />

    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="control-label">Service</label>
        </div>
        <div class="form-group col-md-5">
            <label class="control-label">Amount</label>
        </div>
    </div>

    <ValidationMessage For="@(() => ClaimsModel.LineItems)" />
    @foreach (var lineItem in ClaimsModel.LineItems)
    {
        <div class="form-row">
            <div class="form-group col-md-6">
                <InputSelect id="Service" class="form-control" placeholder="Service" @bind-Value="lineItem.Service">
                    <option value="">-- Select Service --</option>
                    <option value="Medical Care">Medical Care</option>
                    <option value="Surgery">Surgery</option>
                    <option value="Consultation">Consultation</option>
                    <option value="Diagnostic X-Ray">Diagnostic X-Ray</option>
                    <option value="Diagnostic Lab">Diagnostic Lab</option>
                    <option value="Radiation Therapy">Radiation Therapy</option>
                </InputSelect>
                <ValidationMessage For="@(() => lineItem.Service)" />
            </div>
            <div class="form-group col-md-5">
                <InputNumber id="Amount" class="form-control" placeholder="Provider" @bind-Value="lineItem.Amount" />
                <ValidationMessage For="@(() => lineItem.Amount)" />
            </div>
            <div class="form-group col-md-1">
                <a href="javascript:void(0)" class="btn btn-danger" @onclick="@(()=>OnLineItemDelete(ClaimsModel, lineItem))">X</a>
            </div>
        </div>
    }

    <div class="form-group">
        <a href="javascript:void(0)" class="btn btn-success" @onclick="@(()=>OnLineItemAdd(ClaimsModel))">Add Line Item</a>
    </div>
    <hr />
    <div class="form-group">
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</EditForm>

@code{
    private ClaimModelView ClaimsModel = new ClaimModelView
    {
        SelectedPatient = null,
        SelectedOrganization = null,
        Type = "",
        Status = "",
        LineItems = new List<_LineItem>
    {
            new _LineItem {Service="", Amount=0}
        }
    };

    public void OnLineItemDelete(ClaimModelView claimModel, _LineItem lineItem)
    {
        claimModel.LineItems.Remove(lineItem);
    }

    public void OnLineItemAdd(ClaimModelView claimModel)
    {
        claimModel.LineItems.Add(new _LineItem { Service = "", Amount = 0 });
    }

    private async Task<IEnumerable<Patient>> GetPatients(string searchText)
    {
        var result = await httpClient.GetJsonAsync<List<Patient>>(Storage.GetItem("environment_uri") + "/patient/TypeAhead?name=" + searchText);
        return result;
    }

    private async Task<IEnumerable<Organization>> GetProviders(string searchText)
    {
        var result = await httpClient.GetJsonAsync<List<Organization>>(Storage.GetItem("environment_uri") + "/organization/TypeAhead?name=" + searchText);
        return result;
    }

    private void HandleFormSubmit()
    {
        Console.WriteLine("Form Submitted Successfully!");
        Console.WriteLine("Patient Name: " + ClaimsModel.SelectedPatient.Name);
        Console.WriteLine("Provider Name: " + ClaimsModel.SelectedOrganization.Name);
        Console.WriteLine("Claim Type: " + ClaimsModel.Type);
        Console.WriteLine("Claim Status: " + ClaimsModel.Status);
        int i = 1;
        foreach (_LineItem li in ClaimsModel.LineItems)
        {
            Console.WriteLine("Claim Line Item " + i + " --> " + "Service: " + li.Service + ", Amount: " + li.Amount);
            i++;
        }
    }

    private List<Patient> Patients = new List<Patient>();
    private List<Organization> Providers = new List<Organization>();
    protected override void OnInitialized()
    {
        Patients.AddRange(new List<Patient>() {
            new Patient() {Id = 1, Name = "Thomas Beck", State = "Michigan"},
            new Patient() {Id = 2, Name = "Simian Beyer", State = "Ohio"},
            new Patient() {Id = 3, Name = "Sally Smits", State = "Illinois"},
            new Patient() {Id = 4, Name = "Otto Van Buren", State = "Ohio"},
            new Patient() {Id = 5, Name = "Jon Snodgrass", State = "Michigan"},
            new Patient() {Id = 6, Name = "Steven James", State = "Ohio"},
            new Patient() {Id = 7, Name = "Werner Voggs", State = "Illinois"},
            new Patient() {Id = 8, Name = "Andrew Lusterberg", State = "Ohio"},
            new Patient() {Id = 9, Name = "Mario Andreos", State = "Michigan"},
            new Patient() {Id = 10, Name = "Lucy Limpara", State = "Ohio"},
            new Patient() {Id = 11, Name = "Ellen Degrasa", State = "Illinois"},
            new Patient() {Id = 12, Name = "Michele Smits", State = "Ohio"}
        });

        Providers.AddRange(new List<Organization>() {
            new Organization() {Id = 1, Name = "Barbarossa Services", Type = "Insurance Company"},
            new Organization() {Id = 2, Name = "Hanseatic Inc.", Type = "Hospital Department"},
            new Organization() {Id = 3, Name = "Lake Orion Clinical", Type = "Healthcare Provider"},
            new Organization() {Id = 4, Name = "Greater Bloomberg Clinic", Type = "Insurance Company"},
            new Organization() {Id = 5, Name = "Inner City Inc.", Type = "Hospital Department"},
            new Organization() {Id = 6, Name = "Plasma Services Ltd.", Type = "Organizational Team"},
            new Organization() {Id = 7, Name = "Amalgamated Services Ltd.", Type = "Healthcare Provider"},
            new Organization() {Id = 8, Name = "Papaioa Medical Services", Type = "Healthcare Provider"},
            new Organization() {Id = 9, Name = "Smith & Sons Practices", Type = "Organizational Team"},
            new Organization() {Id = 10, Name = "Medical Enclave Services Ltd.", Type = "Healthcare Provider"},
            new Organization() {Id = 11, Name = "Smith and Restugian Surgery", Type = "Insurance Company"},
            new Organization() {Id = 12, Name = "Ottos Outpatient Inc.", Type = "Healthcare Provider"}
        });
    }
}