@addTagHelper *, BlazorStrap
@inherits BlazorLayoutComponent
@inject LocalStorage Storage
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@addTagHelper *, Sotsera.Blazor.Toaster
<toastContainer />

<Navbar IsExpand="true" IsDark="true" Color="Color.Dark" IsFixedTop="true">
    <NavbarBrand Href="#">Blazor CRUD</NavbarBrand>
    <NavbarToggler onclick="@openNav" />
    <Collapse IsOpen="@IsOpen" IsNavbar="true">
        <BlazorNav IsList="true" Class="mr-auto" IsNavbar="true">
            <NavItem>
                <BlazorNavLink href="/" onclick="@closeNav">Home</BlazorNavLink>
            </NavItem>
            <NavItem>
                <BlazorNavLink href="/dashboard" onclick="@closeNav">Dashboard</BlazorNavLink>
            </NavItem>
            <NavItem>
                <BlazorNavLink href="patient/list/1" onclick="@closeNav">Patients</BlazorNavLink>
            </NavItem>
            <NavItem>
                <BlazorNavLink href="organization/list/1" onclick="@closeNav">Organizations</BlazorNavLink>
            </NavItem>
            <NavItem>
                <BlazorNavLink href="claim/list/1" onclick="@closeNav">Claims</BlazorNavLink>
            </NavItem>
            <NavItem>
                <BlazorNavLink href="upload/list/1" onclick="@closeNav">Uploads</BlazorNavLink>
            </NavItem>
            <NavItem>
                <BlazorNavLink href="user/list/1" onclick="@closeNav">Users</BlazorNavLink>
            </NavItem>
        </BlazorNav>
        <BlazorNav IsList="true" Alignment="Alignment.Right" IsNavbar="true">
            @if (isLoggedOn())
            {
                <NavItem>
                    <BlazorNavLink href="/user/logout" onclick="@closeNav">
                        Logout
                        <span class="oi oi-lock-unlocked" title="lock locked" aria-hidden="true"></span>
                    </BlazorNavLink>
                </NavItem>
            }
            else
            {
                <NavItem>
                    <BlazorNavLink href="/user/login" onclick="@closeNav">
                        Login
                        <span class="oi oi-lock-locked" title="lock locked" aria-hidden="true"></span>
                    </BlazorNavLink>
                </NavItem>
            }
        </BlazorNav>
    </Collapse>
</Navbar>

<div class="container">
    @Body
</div>

<footer class="footer">
    <div class="container text-center">
        <span class="text-muted">&copy; Beckshome.com 2019</span>
    </div>
</footer>

@functions {
// Handle Navbar events

bool IsOpen { get; set; } = false;

protected override void OnInit()
{
    Storage["environment_uri"] = string.Empty;
    if (UriHelper.GetBaseUri() == "http://localhost:10001/")
    {
        Storage["environment_uri"] = "http://localhost:10002/api";
    }
    else
    {
        Storage["environment_uri"] = "http://becksapi.azurewebsites.net/api";
    }
}

void openNav(UIMouseEventArgs e)
{
    IsOpen = !IsOpen;
    StateHasChanged();
}

void closeNav(UIMouseEventArgs e)
{
    IsOpen = !IsOpen;
    StateHasChanged();
}

protected bool isLoggedOn()
{
    return (Storage["JWT-Token"] != String.Empty && DateTime.Now.Ticks < Convert.ToInt64(Storage["JWT-Time-Exire"]));
}
}