@page "/organization/edit/{Id}"
@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@inject LocalStorage Storage

<h1>Edit</h1>
<h3>Organization</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <ValidatedForm Model="@organization" OnSubmit="@UpdateOrganization">
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input for="Name" class="form-control" bind="@organization.Name" />
                <ClientValidationError FieldName="Name" Model="organization" />
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label">Type</label>
                <select asp-for="Gender" class="form-control" bind="@organization.Type">
                    <option value="">-- Select Type --</option>
                    <option value="Healthcare Provider">Healthcare Provider</option>
                    <option value="Hospital Department">Hospital Department</option>
                    <option value="Organizational Team">Organizational Team</option>
                    <option value="Government">Government</option>
                    <option value="Insurance Company">Insurance Company</option>
                    <option value="Educational Institute">Educational Institute</option>
                    <option value="Religous Institution">Religous Institution</option>
                    <option value="Clinical Research Sponsor">Clinical Research Sponsor</option>
                    <option value="Community Group">Community Group</option>
                    <option value="Non-Healthcare Business or Corporation">Non-Healthcare Business or Coporation</option>
                    <option value="Other">Other</option>
                </select>
                <ClientValidationError FieldName="Type" Model="organization" />
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input asp-for="Active" class="form-check-input" type="checkbox" bind="@organization.IsActive" />
                    <label asp-for="Active" class="form-check-label">Active</label>
                    <ClientValidationError FieldName="Active" Model="organization" />
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Save</button>
                <button class="btn btn-primary" onclick="@cancel">Cancel</button>
            </div>
        </ValidatedForm>
    </div>
</div>

@functions {
    [Parameter]
    string Id { get; set; }

    Organization organization = new Organization();

    protected override async Task OnInitAsync()
    {
        if (!(Storage["JWT-Token"] != String.Empty && DateTime.Now.Ticks < Convert.ToInt64(Storage["JWT-Time-Exire"]))) // not logged on
        {
            UriHelper.NavigateTo("/user/login");
        }

        if (UriHelper.GetBaseUri() == "http://localhost:10001/")
        {
            organization = await Http.GetJsonAsync<Organization>("http://localhost:10002/api/organization/" + Convert.ToInt32(Id));
        }
        else
        {
            organization = await Http.GetJsonAsync<Organization>("http://becksapi.azurewebsites.net/api/organization/" + Convert.ToInt32(Id));
        }
    }

    protected async Task UpdateOrganization(UIEventArgs ev)
    {
        if (UriHelper.GetBaseUri() == "http://localhost:10001/")
        {
            var token = Storage["JWT-Token"];
            Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
            await Http.SendJsonAsync(HttpMethod.Put, "http://localhost:10002/api/organization/" + Convert.ToInt32(Id), organization);
        }
        else
        {
            var token = Storage["JWT-Token"];
            Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
            await Http.SendJsonAsync(HttpMethod.Put, "http://becksapi.azurewebsites.net/api/organization/" + Convert.ToInt32(Id), organization);
        }
        UriHelper.NavigateTo("/organization/modified");
    }

    void cancel()
    {
        UriHelper.NavigateTo("/organization/cancelled");
    }
}